/*rem and em don not depend on html font-size in media queries
Instead 1rem = 1em = 16px*/

/* rem has some bugs in some browsers when used in media queries. So better to use em */

/* 1300/16 = 84 */
/************************
BELOW 1344px (smaller desktops)
*************************/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  /* .gallery {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/* Below 1200px */
@media (max-width: 75em) {
  /* We will use responsive units. Since we originally defined font-size as 62.5% i.e. 10px
  and then defined everything in rem, so if we reduce the font size of html to a lower values, the entire webiste 
  whereever we used rem will be redisigned/ scaled accordingly*/
  html {
    font-size: 56.25%; /*56.25% is 9px. We are reducing 10px to 9px*/
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .logos img {
    height: 3rem;
  }
}

/* For Tablets: Below 940px -> 940/16 = 59 */
@media (max-width: 59em) {
  html {
    font-size: 50%; /*For 8px, we have 50%*/
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 -> 60% and 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 1.2rem;
  }
}
